.panel { -webkit-box-sizing: border-box; box-sizing: border-box; width: 650px; margin: 0 auto; border: 1px solid #c6c6c6; border-radius: 6px; list-style: none; margin: 0 auto; padding: 0; }

.panel .panelInner { padding: 20px; }

.panel .panelInner .innerWrap { padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.panel .panelInner .innerWrap .text { width: 100%; font-size: 18px; font-weight: 400; line-height: 20px; height: 55px; line-height: 55px; padding: 0 20px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #d9d9d9; margin-top: -1px; }

.panel .panelInner .innerWrap .text:nth-of-type(1) { border-radius: 5px 5px 0 0; }

.panel .panelInner .innerWrap .text:nth-of-type(2) { border-radius: 0 0 5px 5px; }

.panel .panelInner .innerWrap .row { margin: 0; width: 100%; padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dadada; }

.panel .panelInner .innerWrap .row .text { font-weight: 400; line-height: 20px; border: none; width: 100%; height: 40px; padding: 0 10px; border: none; }

.panel .panelInner .innerWrap #idLine { border-radius: 6px 6px 0 0; }

.panel .panelInner .innerWrap #pwLine { border-radius: 0 0 6px 6px; margin-top: -1px; }

.panel .panelInner .btn { margin-top: 15px; }
