@import "vars";
@import "mixins";

.board {
  background-color: #fff;
  margin-top: 15px;
  width: 100%;
  outline: none;
  border: none;
  #boardContents {
    th,
    td {
      height: 300px;
    }
  }
  .comment {
    td {
      vertical-align: middle;
      button {
        padding: 5px;
        height: 40px;
        width: 40px;
        background-color: #666;
        text-align: center;
        span {
          color: #fff;
          font-size: 18px;
        }
      }
      .inputBox {
        display: flex;
        justify-content: space-between;
        height: 100%;
        #reply {
          min-height: 100px;
        }
        button {
          height: 100px;
          width: 50px;
        }
      }
      .replyList {
        margin: 0;
        .replyItem {
          width: 100%;
          display: inline-flex;
          justify-content: space-between;
          margin: 5px;
          align-items: center;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            border: 0.5px solid #d9d9d9;
            bottom: -5px;
          }
          .replyBox {
            display: inline-flex;
            justify-content: space-between;
            margin-right: 10px;
            width: calc(100% - 100px);
            span {
              width: calc(20% - 5px);
              font-weight: 500;
              padding: 0 5px;
              text-align: center;
              &.name {
                font-weight: 700;
              }
              &.txt {
                width: 60%;
                text-align: left;
              }
              &.date {
                color: #999;
              }
            }
          }
          .btns {
            margin: 0;
          }
        }
      }
    }
  }
  tr {
    border-bottom: 1px solid $border-color;
    &:hover {
      background-color: $light-gray-color;
    }
    th,
    td {
      padding: 15px 0;
      text-align: center;
    }
    .subject {
      text-align: left;
    }
  }
}

.sideBar {
  width: 300px;
  background-color: #fff;
  padding: 15px;
  ul {
    li {
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      min-width: 150px;
      &.on {
        background-color: rgb(220, 220, 220);
      }
      &.mainItem {
        padding-bottom: 5px;
      }
      &.subItem {
        margin-left: 15px;
        padding-bottom: 5px;
        a {
          font-size: 18px;
        }
      }
      a {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.searchBox {
  padding: 50px 100px;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #d9d9d9;
  select,
  input,
  button {
    height: 50px;
  }
  select {
    width: 120px;
    margin-right: 10px;
  }
  button {
    background-color: #111;
    color: #fff;
    border-radius: 5px;
    width: 120px;
    margin-left: 10px;
  }
  input {
    width: calc(100% - 260px);
  }
}

.pagination {
  display: block;
  width: 100%;
  ul {
    display: flex;
    justify-content: center;
    li {
      &.active a {
        background-color: rgb(2, 116, 209);
      }
      margin: 0 2px;
      a {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        background-color: #111;
        color: #fff;
        border-radius: 2px;
      }
    }
  }
}

.prevAndNext {
  margin: 50px 0;
  border-top: 1px solid #d9d9d9;
  .inner {
    padding: 0;
    display: flex;
    align-items: center;
    .material-icons {
      margin-right: 20px;
    }
  }
  a {
    margin-left: 50px;
  }
  .item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #d9d9d9;
    .direc {
      display: flex;
      max-width: 100px;
      justify-content: space-between;
      align-items: center;
      margin-right: 15px;
      span {
        margin-right: 15px;
      }
    }
  }
}
