<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tis.mybatis.board">
	<insert id="insertBoard" parameterType="BoardDto">
		INSERT INTO BOARD VALUES (SEQ_BOARD.NEXTVAL,
										#{title},
										#{category},
										#{code},
										#{id},
										SYSDATE,
										#{reGroup},
										#{reLevel},
										#{reStep},
										0,
										#{contents}
										)
	</insert>
	
	<select id="getCateBoard" resultType="BoardDto" parameterType="HashMap">
		SELECT * FROM 
			(SELECT ROWNUM AS NUM,B.* FROM 
				(SELECT * FROM BOARD
					<trim prefix="WHERE" prefixOverrides="AND">
						<if test="searchWord!=null and searchWord!=''" >
							${searchSelect}  LIKE  '%' || #{searchWord} || '%'	
						</if> 
						<if test="cateSelect!=null and cateSelect!=''">
							AND CATEGORY  LIKE  '%' || #{cateSelect} || '%'	
						</if> 
					</trim>
					ORDER BY REGDATE DESC
				) B
			) 
		WHERE NUM <![CDATA[>=]]> #{start} AND NUM <![CDATA[<=]]> #{end}
	</select>
	
					<!-- ORDER BY REGROUP DESC, RELEVEL ASC -->
	<update id="updateBoard" parameterType="BoardDto">
		UPDATE BOARD SET title = #{title}, CONTENTS = #{contents} 
		WHERE NO = #{no}  
	</update>
	
	<select id="getSelectOne" parameterType="Integer" resultType="BoardDto">
		SELECT * FROM BOARD WHERE NO = #{no}
	</select>
	
	<update id="updateHit" parameterType="Integer">
		UPDATE BOARD SET HIT = HIT + 1 WHERE NO = #{no}
	</update>
	
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM BOARD WHERE NO = #{no}
	</delete>
	
	<select id="getTotal" resultType="Integer" parameterType="HashMap">
		SELECT COUNT(*) AS TOTAL FROM BOARD
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchWord!=null and searchWord!=''" >
				${searchSelect}  LIKE  '%' || #{searchWord} || '%'	
			</if> 
			<if test="cateSelect!=null and cateSelect!=''">
				AND CATEGORY  LIKE  '%' || #{cateSelect} || '%'	
			</if> 
		</trim>
	</select>
	
	<select id="getTarget" resultType="BoardDto" parameterType="HashMap">
		SELECT * FROM 
			(SELECT ROWNUM AS NUM, B.* FROM 
				(SELECT * FROM BOARD
					<trim prefix="WHERE" prefixOverrides="AND">
						<if test="searchWord!=null and searchWord!=''" >
							${searchSelect}  LIKE  '%' || #{searchWord} || '%'	
						</if> 
						<if test="cateSelect!=null and cateSelect!=''">
							AND CATEGORY  LIKE  '%' || #{cateSelect} || '%'	
						</if> 
					</trim>
					ORDER BY REGDATE DESC
				) B
			) 
		WHERE NUM = #{targetNum}
	</select>
	
	
	<!-- reply 쿼리 -->
	<select id="getReplyList" parameterType="Integer" resultType="ReplyDto">
		SELECT NO,BOARDID,NAME,CODE,TXT,TO_CHAR(REGDATE,'YYYY-MM-DD') AS REGDATE FROM REPLY WHERE BOARDID = #{no} ORDER BY NO DESC
	</select>
	
	<select id="getReply" parameterType="Integer" resultType="ReplyDto">
		SELECT * FROM REPLY WHERE NO = #{no}
	</select>
	
	<insert id="insertReply" parameterType="ReplyDto">
		INSERT INTO REPLY VALUES (SEQ_REPLY.NEXTVAL,#{boardId},#{name},#{code},#{txt},SYSDATE)
	</insert>
	
	<insert id="deleteReply" parameterType="ReplyDto">
		DELETE FROM REPLY WHERE NO = #{no} AND CODE =#{code} 
	</insert>
		
	<update id="updateReply" parameterType="ReplyDto">
		UPDATE REPLY SET TXT = #{txt} WHERE NO = #{no} AND BOARDID = #{boardId}
   	</update>	
		
</mapper>